@model IEnumerable<crudoperation_linq.Models.employe>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeemailid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeemailid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>  