@model LINQ_Rough.Models.EMPModel


<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>model.EMPName)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.EMPName)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model=>model.EMPAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.EMPAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=>model.EMPEmailID)
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.EMPEmailID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id=Model.ID})|
   @Html.ActionLink("Back to List", "Index")

</p>

